body {
    
   background-image: url("images/space.png");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #4b4a4a;
    margin: 0;
    padding: 0;
  }

img {
      border-radius: 5%;
      }

header {
    display: flex;
    justify-content: space-between;
    width:100%;
    height:400px;
    flex-flow: column;
    
    }
    

  .profile {
        display:flex;
        justify-content: center;
        align-items: center;
        padding-top:5em;
  }
  
    .profile-image {
        display: block;
        
    }
    
  .profile-text {
        font-family: 'Roboto', sans-serif;
      background-color: white;
      border-radius: 5px;
      margin-left:20px;
      margin-bottom: 200px;
      opacity: 0.5;
      font-size:20px;
      
  }

  .triangle {
      position: relative;
      top:20px;
      left: 10px;
  }
main {
      margin:10em;
      }
article {
      display:flex;
      flex-direction: column;
    }
.projects {
        display:flex;
        justify-content:space-between;
        height:30vh;
        width:100%;
        
      }
ul img {
      border-radius:20px;
}
      
.projects ul {
      list-style-type: none;
            display:flex;
            justify-content: space-between;
            
            width:100%;
}       
.projects img {
      display:contain;
      
      
      height:9em;
      width:17em;
      padding:0.5em;
      }
      
.hello-react {
      margin: 1em;
      

    }
      
.react-text {
             font-family: 'Roboto', sans-serif;
            background-color:white;
            padding-top:2em;
            padding-left:0.5em;
            padding-right:0.5em;
            padding-bottom:0.5em;
            }      
.reactheader {
      height:10vh;
      background-image: url("images/react.png");
      background-position: center;
      background-size:cover;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      
    }
.read-more {
      font-family: 'Roboto', sans-serif;
      background-color: deepskyblue;
      color:white;
      text-align: center;
      width:20%;
      border-radius: 5em;
      position:relative;
      left:50em;
      top:2.2em;
      }

.fizzbuzz {
        
        margin: 1em;
      } 

.fizz-text {
            font-family: 'Roboto', sans-serif;
            background-color:white;
            padding-top:2em;
            padding-left:0.5em;
            padding-right:0.5em;
            padding-bottom:2em;
}
.fizz-head {
      height:10vh;
      background-image: url("images/code.png");
      background-position: center;
      background-size: cover;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
            }
                
.read-fizz {
      font-family: 'Roboto', sans-serif;
      background-color: deepskyblue;
      color:white;
      text-align: center;
      width:20%;
      border-radius: 5em;
      position:relative;
      left:50em;
      top:-2em;
      }

footer {
    /*border:3px solid red;*/
    color: white;
    display: flex;
    align-items:center;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    }
 
.socialmedia {
  
    width:50%;
    display:flex;
    justify-content: space-around;
    padding-bottom:2em;
      }
      







    

    
  

          
      
      
      
    
    
  